services:
    twig.alerts:
        class: IA\ApplicationCoreBundle\Twig\Alerts
        
    IA\ApplicationCoreBundle\Command\AssetsSourcesCommand:
        arguments:
            - '@filesystem'
        tags:
            - 'console.command'
    IA\ApplicationCoreBundle\Command\CheckAssetDependenciesCommand:
        arguments:
            - '@filesystem'
        tags:
            - 'console.command'

    session:
        public: true
        class: Symfony\Component\HttpFoundation\Session\Session
        
    app.general_settings:
        class: Doctrine\ORM\EntityRepository
        factory: ["@doctrine.orm.entity_manager", getRepository]
        arguments:
            - 'IA\ApplicationCoreBundle\Entity\GeneralSettings'
            
    IA\ApplicationCoreBundle\EventListener\MaintenanceListener:
        arguments: 
            - '@service_container'
            - '@app.general_settings'
        tags:
            - { name: 'kernel.event_listener', event: 'kernel.request', method: 'onKernelRequest' }
            
    IA\ApplicationCoreBundle\EventSubscriber\LocaleSubscriber:
        arguments: ['%kernel.default_locale%']
        # uncomment the next line if you are not using autoconfigure
        # tags: [kernel.event_subscriber]
            
    IA\ApplicationCoreBundle\EventSubscriber\UserLocaleSubscriber:
        arguments: ["@session"]
        tags:
            - { name: kernel.event_subscriber }
