services:
    IA\ApplicationCoreBundle\Command\AssetsSourcesCommand:
        arguments:
            - '@filesystem'
        tags:
            - 'console.command'
    IA\ApplicationCoreBundle\Command\CheckAssetDependenciesCommand:
        arguments:
            - '@filesystem'
        tags:
            - 'console.command'
